In [40]:
import pandas as pd
import numpy as np
train_data=pd.read_csv("C:/Users/Simon/Documents/titanic/train.csv")
print(train_data.head(30))

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3
26           27         0       3
27           28         0       1
28           29         1       3
29           30         0       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                               Rice, Master. Eugene    male   2.0      4
17                       Williams, Mr. Charles Eugene    male   NaN      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                            Masselmani, Mrs. Fatima  female   NaN      0
20                               Fynney, Mr. Joseph J    male  35.0      0
21                              Beesley, Mr. Lawrence    male  34.0      0
22                        McGowan, Miss. Anna "Annie"  female  15.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0
24                      Palsson, Miss. Torborg Danira  female   8.0      3
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                            Emir, Mr. Farred Chehab    male   NaN      0
27                     Fortune, Mr. Charles Alexander    male  19.0      3
28                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                Todoroff, Mr. Lalio    male   NaN      0

    Parch            Ticket      Fare        Cabin Embarked
0       0         A/5 21171    7.2500          NaN        S
1       0          PC 17599   71.2833          C85        C
2       0  STON/O2. 3101282    7.9250          NaN        S
3       0            113803   53.1000         C123        S
4       0            373450    8.0500          NaN        S
5       0            330877    8.4583          NaN        Q
6       0             17463   51.8625          E46        S
7       1            349909   21.0750          NaN        S
8       2            347742   11.1333          NaN        S
9       0            237736   30.0708          NaN        C
10      1           PP 9549   16.7000           G6        S
11      0            113783   26.5500         C103        S
12      0         A/5. 2151    8.0500          NaN        S
13      5            347082   31.2750          NaN        S
14      0            350406    7.8542          NaN        S
15      0            248706   16.0000          NaN        S
16      1            382652   29.1250          NaN        Q
17      0            244373   13.0000          NaN        S
18      0            345763   18.0000          NaN        S
19      0              2649    7.2250          NaN        C
20      0            239865   26.0000          NaN        S
21      0            248698   13.0000          D56        S
22      0            330923    8.0292          NaN        Q
23      0            113788   35.5000           A6        S
24      1            349909   21.0750          NaN        S
25      5            347077   31.3875          NaN        S
26      0              2631    7.2250          NaN        C
27      2             19950  263.0000  C23 C25 C27        S
28      0            330959    7.8792          NaN        Q
29      0            349216    7.8958          NaN        S

In [16]:
test_data=pd.read_csv("C:/Users/Simon/Documents/titanic/test.csv")
print(test_data.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [17]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [18]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [30]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
print(output.head(10))

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0